body {
  background-image: url('/images/grass.png');
}
.ladybug {
  position: absolute;
  xbackground-color: red;
  width: 0px;
  height: 0px;
  background-position: 0px 0px;
}

.ladybug:before {
  content: "";
  position: absolute;
  left: -20px;
  top: -20px;
  width: 40px;
  height: 40px;
  xbackground-color: blue;
  background-repeat: no-repeat;
  background-position: inherit;
}

.ladybug.egg:before {
  background-image: url('/images/ladybug_egg.png');
  left: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
}

.ladybug.child:before {
  background-image: url('/images/ladybug_child.png');
  left: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
}

.ladybug.male.adult:before {
  background-image: url('/images/ladybug_adult_male.png');
}

.ladybug.female.adult:before {
  background-image: url('/images/ladybug_adult_female.png');
}

.ladybug.old:before {
  background-image: url('/images/ladybug_old.png');
}

.ladybug.dead:before {
  background-image: url('/images/ladybug_dead.png');
}

#msgsPerSec {
  background-color: black;
  opacity: 0.5;
  color: white;
  font-weight: bold;
  display: inline-block;
}
