body {
  background-color: #FFFFFF;
  display: none;
}

h1 {
  text-shadow: 0 0 2px #20431d;
  color: #3e9233;
}

h1 a.akka {
  color: blue;
  font-style: italic;
}

#container {
  position: relative;
  width: 868px;
  margin: 20px auto;
}

#container.inline {
  margin: 0;
}


#container > h1,
#container > p {
  margin-left: 30px;
}

#container > p {
  font-size: 90%;
}

#arena-fence {
  background-image: url('/images/bg.png');
  padding: 30px;
  padding-bottom: 40px;
  border: none;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, .5) inset, -5px -5px 10px rgba(33, 70, 22, .5) inset, 2px 2px 4px rgba(33, 70, 22, .20);
}

#arena {
  background-image: url('/images/grass.png');
  position: relative;
  width: 800px;
  height: 600px;
  border: #2e6125 solid 4px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, .5), -5px -5px 10px rgba(33, 70, 22, .5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#info {
  position: absolute;
  bottom: -30px;
  width: 100%;
  color: white;
  text-shadow: 0 0 5px black;
}

.ladybug {
  position: absolute;
  xbackground-color: red;
  width: 0px;
  height: 0px;
  background-position: 0px 0px;
}

.ladybug:before {
  content: "";
  position: absolute;
  left: -20px;
  top: -20px;
  width: 40px;
  height: 40px;
  xbackground-color: blue;
  background-repeat: no-repeat;
  background-position: inherit;
  cursor: pointer;
}

.ladybug.selected:before {
  border: 2px solid orange;
  margin-left: -2px;
  margin-top: -2px;
  border-radius: 30px;
  background-color: rgba(255, 162, 0, 0.31);
}

.ladybug.egg:before {
  background-image: url('/images/ladybug_egg.png');
  left: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
}

.ladybug.child:before {
  background-image: url('/images/ladybug_child.png');
  left: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
}

.ladybug.male.adult:before {
  background-image: url('/images/ladybug_adult_male.png');
}

.ladybug.female.adult:before {
  background-image: url('/images/ladybug_adult_female.png');
}

.ladybug.old:before {
  background-image: url('/images/ladybug_old.png');
}

.ladybug.dead:before {
  background-image: url('/images/ladybug_dead.png');
}

.ladybug.annihilated:before {
  opacity: 0;
  transition: opacity 2s linear;
}

.stone {
  position: absolute;
  width: 0px;
  height: 0px;
  background-position: 0px 0px;
}

.stone:before {
  content: "";
  position: absolute;
  left: -20px;
  top: -20px;
  width: 40px;
  height: 40px;
  background-image: url('/images/stone.png');
  background-repeat: no-repeat;
  background-position: inherit;
}

#infoPopup {
  background-color: beige;
  border: 2px solid #d4d4bd;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  z-index: 10;
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  font-size: 70%;
}
